<div class="container container-fluid p-4 m-4">

    <div class="d-flex justify-content-center p-2">
        <p class="fs-1 text fw-bold">Get a clear view of the day ahead</p>
    </div>
    <div class="d-flex justify-content-center p-2">
        <p class="fs-6 text fw-light">All your tasks that are due today will show up here.</p>
    </div>

    <div class=" d-flex justify-content-center p-2 m-2">
        <a id="changeToForm" (click)="onChangeClicked()" class=" border-0 btn text-white"
            style=" background-color: #7749F8;" type="submit" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" role="button"
            routerLink="/task-list">
            Add Task
        </a>
    </div>

</div>

<lib-images></lib-images>