/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/bootstrap";

input[type=checkbox]:checked+label.striketrough {
    text-decoration: line-through;
}

// input[type=text] {
//     width: 100px;
// }

textarea {
    height: 100px;
}

#changeToForm {
    background-color: #7749F8
}

.btn-closed {
    background-color: #FFFFFF;
    border: 1px solid #6C757D
}

// input[type=checkbox]::after {
//     background-color: aquamarine;
// }

// .checked::after {
//     border: 1px solid blue
// }

.pointer:hover {
    cursor: pointer;
    background-color: #DEE2E6;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #212529;
}

.dropdown-item:focus {
    background-color: #C29FFA;
}

.dropdown-item:hover {
    color: #1e2125;
    background-color: #7749f8
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #7749f8;
}

.btn-primary {
    color: #fff;
    background-color: #7749f8;
    border-color: #7749f8;
}

// .checkmark {
//     font-family: arial;
//     -ms-transform: scaleX(-1) rotate(-35deg);
//     /* IE 9 */
//     -webkit-transform: scaleX(-1) rotate(-35deg);
//     /* Chrome, Safari, Opera */
//     transform: scaleX(-1) rotate(-35deg);
// }

cursor {
    background-color: white;
}

.images-on-homepage {
    width: 300px;
    height: 200px;
}

.alert-window {
    display: flex;
    position: absolute;
    width: 205px;
    font-size: small;
    justify-content: center;
    top: 85px;
    right: 12px;
}


// @media (min-width: 425px) {
//     .images-on-homepage {
//         width: 40%;
//         height: 30%;
//     }
// }

// @media (max-width: 768px) {
//     .images-on-homepage {
//         width: 80%;
//         height: 70%;
//     }
// }